.App {
  text-align: center;
  white-space: pre-line;
}
.App > * {
  margin-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: "Source Code Pro",monospace;
  margin: 20px;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.claim *, .wallet *{
  margin: 3px;
}

.wallet {
  display: flex;
}

.gameContainer {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.gameAndButton{
  margin-right: 75px;
  text-align: center;
}

.App-confirmation {
  width: 200px;
}

.game {
  width: 100px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  /*background: gray;*/
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}
